
<header class="container">
    <div id="header_logo" class="header_element">
        <a href="/"><img id="header_logo_img" src="images/logo.png"></a>
    </div>
    <span id="kategorija" class="header_element">
        <%=title%>
    </span>
    <div id="basketnsearch" class="header_element">
        <img class="img_in_div" src="images/search.png">
        <a href="cart"><img class="img_in_div" id="basket_img" src="images/cart.png"></a>
        <span id="header_cart_count"><%=cart_item_count%></span>
    </div>
</header>